@model string

@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-12">
                <h1>Доступ запрещен</h1>
                
            </div>
        </div>
    </div>
</div>