@model TUser

@{
    ViewData["Title"] = "Добавление или редактирование пользователя";
}

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-12">
                <h1>Вход:</h1>
                <div class="addUser">
                    <form action="/Login/Index" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="Name">Name</label>
                            <input class="form-control" id="Name" name="Name" type="text" value="" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Password">Password</label>
                            <input class="form-control" id="Password" name="Password" type="password" value="" />
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>