@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XxlStore</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/lib/jquery/jquery.js" asp-append-version="true"></script>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="layout">
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">Мир часов</div>
                    <div class="col-6 navbar-text text-end">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <header class="d-flex justify-content-center py-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
                        <li class="nav-item"><a href="/Catalog" class="nav-link">Каталог</a></li>



                        <li class="nav-item"><a href="/Blog" class="nav-link">Blog</a></li>
                        @*<li class="nav-item"><a href="/Mail" class="nav-link">Почта</a></li>*@

                    </ul>
                </header>
            </div>
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>