@model List<Post>

@{
    ViewData["Title"] = "Блог";
}


<div class="wrapper">

    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">

            @foreach (var post in Model) {

                <div class="col-md-6 pb-3">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-100 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-3">@post.Title</h3>
                            <p class="d-inline-block mb-2 text-primary">Автор: @post.Author</p>
                            <div class="mb-1 text-muted">Создан: @post.CreatedDate</div>
                            <p class="card-text mb-auto">@post.Text</p>
                            <a href="/Blog/Post/@post.IdAsString" class="stretched-link ms-auto">Читать всё...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
