@model Post

@{
    ViewData["Title"] = Model.Title;
}


<div class="wrapper">

    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h1 class="d-inline-block mb-2 text-primary">@Model.Title</h1>
                        <h3 class="mb-0">@Model.Author</h3>
                        <div class="mb-1 text-muted">@Model.CreatedDate</div>
                        <p class="card-text mb-auto">@Model.Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
