@model Product

@{
    ViewData["Title"] = "Блог";

    DateTime currentDate = DateTime.Now;
}

<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">
            <div class="col-12">
                <h1>Редактирование товара</h1>
                <div class="addPost">
                    <form action="/Stock/CreateOrUpdateProduct" method="post">
                        <input class="form-control" id="IdAsString" name="IdAsString" type="hidden" value="@Model.IdAsString">
                        <div class="mb-3">
                            <label class="form-label" for="Name">Наименование</label>
                            <input class="form-control" id="Name" name="Name" type="text" value="@Model.Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="DiscountPrice">Цена</label>
                            <input class="form-control" id="DiscountPrice" name="DiscountPrice" type="text" value="@Model.DiscountPrice">
                        </div>
                        
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


