@model List<Post>

@{
    ViewData["Title"] = "Блог";
}


<div class="wrapper">

    <div class="container-fluid container-xl">
        <div class="row py-2 posts__area">

            @foreach (var post in Model) {

                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">@post.Title</strong>
                            <h3 class="mb-0">@post.Author</h3>
                            <div class="mb-1 text-muted">@post.PostDate</div>
                            <p class="card-text mb-auto">@post.Text</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
