@page

<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Ваш заказ #@OrderId</p>
    <p>Мы свяжемся с Вами</p>
    <a class="btn btn-primary" asp-controller="Home">Вернуться в магазин</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}